.centered.six.homepage-main
    .row
        .two-and-a-half.columns.first
            %h2.time.mega
                <span></span>Mar 10

        .one.column.first
            %h2.time
                @

        .two-and-a-half.columns.first
            %h2.time.mega
                <span></span>6:30
                %small
                    pm

.centered.seven.homepage-main
    .row
        %p.next-meeting
            %strong Next Meeting:
            Using <a href="#">Chef</a> with your Rails app - by <a href="#">Jon Walker</a>
            %span Hosted by - Appfolio


%hr

