%h3
    Past Presentations

%ul.homepage-list
    %li
        Haml and Sass by <a href="#">Zeke</a>
    %li
        Intro to Lattay by <a href="#">Ross</a>
    %li
        Obscure Ruby Quiz by <a href="#">Collin</a>
    %li
        Testing with Cucumber by <a href="#">Tim and Bob</a>

%p
    = link_to "See More &raquo;", "#"

