.centered.seven-and-a-half.homepage-main
    .row
        .three.columns.first
            %h2.time.mega
                Mar 10

        .one.column
            %h2.time
                @

        .three.columns
            %h2.time.mega
                6:30 pm

    .row
        %p.next-meeting
            %strong Next Meeting:
            Using <a href="#">Chef</a> with your Rails app - by <a href="#">Jon Walker</a>
            %span Hosted by - Appfolio


%hr

.five.centered
    = link_to "<span>Get Directions &raquo;</span>", "#", :class => "large red button"
    = link_to "<span>Join SB on Rails &raquo;</span>", "#", :class => "large blue button"

